.container {
    display: flex;
    flex-direction: column;
}

.episodesContainer {
  width: 100%;
  display: grid;
  margin-bottom: 20px;
  margin-top: 20px;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.title {
  font-size: 40px;
}
