.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-bottom: 1px solid #fff;
  font-size: 24px;
  grid-row: 1;
}

.innerContainer {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 34px;
  padding: 12px;
}

.menu {
  padding: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.menuItem {
  padding: 5px;
  list-style-type: none;
  cursor: pointer;
  border: 0px solid yellow;
  user-select: none;

  &:hover {
    color: yellow;
    transition: 1s ease;
  }
}

.menuLink {
  color: inherit;
}

.logo {
  height: 100px;
  cursor: pointer;
}
