.container {
  width: 100%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    color: red;
    border: 1px solid red;
  }
}